/* 1 posicionamiento
2 modelo caja
3 tipografia
4 visuales
5 otros */

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
}


/* inicio header */

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right top, #f7931a, #c56031, #873b32, #452024, #000000);
    height: 334px;
    width: 100vw;
    min-width: 320px;
    text-align: center;
}

.header__img {
    align-self: center;
    margin-top: 4rem;
}

.header__heading1 {
    color: var(--just-white);
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3rem;
    width: 90%;
    max-width: 900px;
    min-width: 288px;
    height: 90px;
    align-self: center;
}

.header__heading3 {
    color: var(--just-white);
    text-align: center;
    font-size: 1.2rem;
}


/* fin header */