/* 1 posicionamiento
2 modelo caja
3 tipografia
4 visuales
5 otros */

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
}


/* inicio header */

.header {
    background-image: linear-gradient(to right top, #f7931a, #c56031, #873b32, #452024, #000000);
    height: 40vh;
}

.header__img {
    text-align: center;
    padding-top: 4rem;
}

.header__heading1 {
    color: var(--just-white);
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3rem;
}

.header__heading3 {
    color: var(--just-white);
    text-align: center;
    font-size: 1.2rem;
    margin-top: 3rem;
}


/* fin header */